.section__hero {
  background-image: linear-gradient(
      rgba(239, 223, 243, 0.2),
      rgba(239, 223, 243, 0.2)
    ),
    url(../../../../assets/img/hero.png);
  background-position: center;
  height: 90vh;
}

.hero__introduction {
  position: absolute;
  top: 30%;
  left: 55%;
  transform: translate(-50%, -50%);
  width: 100%;
}
