.header {
  background-image: linear-gradient(
      rgba(239, 223, 243, 0.3),
      rgba(239, 223, 243, 0.3)
    ),
    url(../../../../assets/img/hero.png);
}

@media (max-width: 644px) {
  .nav {
    background-image: linear-gradient(
      rgba(255, 255, 255, 0.97),
      rgba(255, 255, 255, 0.97)
    );
  }
}
