@tailwind base;
@tailwind components;
@tailwind utilities;

.h-custom-nav {
  height: calc(100vh+1000px);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

.nav__ul--item {
  cursor: pointer;
}

.ghost:hover,
.card__link:hover {
  box-shadow: inset 0 0 0 3px #fff;
}

.nav__header.sticky {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.nav__header.sticky .nav {
  background-color: rgba(255, 255, 255, 0.95);
}

/* cards */
.card {
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.05);
}

.card__picture--1 {
  background-image: linear-gradient(to right bottom, #e66b80, #f03e3e),
    url('../../assets/img/cards/vjencanja.jpg');
}

.card__picture--2 {
  background-image: linear-gradient(to right bottom, #e66b80, #f03e3e),
    url('../../assets/img/cards/biznis1.jpg');
}

.card__picture--3 {
  background-image: linear-gradient(to right bottom, #e66b80, #f03e3e),
    url('../../assets/img/cards/kidsbirthday.jpg');
}
.card__picture--4 {
  background-image: linear-gradient(to right bottom, #e66b80, #f03e3e),
    url('../../assets/img/cards/ostale.jpg');
}

.card__picture--5 {
  background-image: linear-gradient(to right bottom, #e66b80, #f03e3e),
    url('../../assets/img/cards/dodatne.jpg');
}

.card__heading-span {
  background-image: linear-gradient(
    to right bottom,
    rgba(230, 107, 128, 0.85),
    rgba(240, 62, 62, 0.85)
  );
}

.card__buttons {
  background-image: linear-gradient(to right bottom, #e66b80, #f03e3e);
}

/* balloons  */
.balloons__img-box {
  background-image: linear-gradient(to right bottom, #e66b80, #f03e3e),
    url('../../assets/img/baloni.jpg');
}

/* rent equpment */
.rent__equipment {
  background-image: linear-gradient(to right bottom, #e66b80, #f03e3e),
    url('../../assets/img/rent.webp');
}

/* kids event */

.kids__img-box {
  background-image: linear-gradient(to right bottom, #e66b80, #f03e3e),
    url('../../assets/img/cards/kidsbirthday.jpg');
}
