@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

.nav__ul--item {
  cursor: pointer;
}

.ghost:hover {
  box-shadow: inset 0 0 0 3px #fff;
}

*:focus {
  box-shadow: 0 0 0 0.6rem rgba(238, 151, 166, 1);
  transition: all 0.3s;
  border: none;
  outline: none;
}
