@tailwind base;
@tailwind components;
@tailwind utilities;

.h-custom-nav {
  height: calc(100vh+1000px);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.hero__container {
  background-image: url('../../assets/img/heroruzni2.png');
  background-position: center;
}

.ghost:hover {
  box-shadow: inset 0 0 0 3px #fff;
}

.nav__header.sticky {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 1.2px 3.2px rgba(0, 0, 0, 0.03);
}

.nav__header.sticky .nav {
  background-color: rgba(255, 255, 255, 0.95);
}

.card__picture--1,
.weddings__img-box {
  background-image: url('../../assets/img/cards/vjencanje.jpg');
}

.card__picture--2,
.business-celebrations__img-box {
  background-image: url('../../assets/img/biznis.jpg');
}

.card__picture--3,
.kids__img-box {
  background-image: url('../../assets/img/cards/kidsbirthday.jpg');
}
.card__picture--4,
.other-celebrations__img-box {
  background-image: url('../../assets/img/otherCelebrations.webp');
}

.card__picture--5 {
  background-image: url('../../assets/img/cards/dodatne.jpg');
}

/* 
    'color-lightest': '#fdf2f3',
        'color-accent-darkest': '#2e151a',

        'color-gray-light-1': '#ffdde1', */

/* balloons  */
.balloons__img-box {
  background-image: url('../../assets/img/baloni.jpg');
}

/* rent equpment */
.rent__equipment {
  background-image: url('../../assets/img/rent.webp');
}

/* other offers */
.other-offers__img-box {
  background-image: url('../../assets/img/ostale.jpg');
}
.modal {
  position: relative;
  /* Other modal styles */
  background: linear-gradient(to right bottom, #ee9ca7, #ffdde1);
  z-index: 40;
}

.modal::before {
  content: '\2665';
  color: #ee9ca7;
  position: absolute;
  top: -45px;
  right: -19px;
  font-size: 64px;
  z-index: 50;
}

.gallery {
  grid-row: 5;
  grid-column: 2 / -1;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(14, 5vw);
  grid-gap: 1rem;
  padding: 1rem;
}

.gallery__item {
  transition: all 0.4s;
}

.gallery__item:hover {
  transform: scale(1.3);
  z-index: 50;
}

.gallery__item--1 {
  grid-row: 1 / span 2;
  grid-column: 1 / 3;
}

.gallery__item--2 {
  grid-column: 3 / 6;
  grid-row: 1 / 4;
}
.gallery__item--3 {
  grid-row: span 2;
}

.gallery__item--4 {
  grid-row: span 2;
  grid-column: 7 / -1;
}
.gallery__item--5 {
  grid-column: 1 / 3;
  grid-row: span 3;
}
.gallery__item--6 {
  grid-column: 3 / 5;
  grid-row: span 2;
}
.gallery__item--8 {
  grid-column: 6 / 8;
  grid-row: 3 / span 2;
}

.gallery__item--6:hover,
.gallery__item--22:hover,
.gallery__item--9:hover,
.gallery__item--10:hover,
.gallery__item--11:hover,
.gallery__item--14:hover,
.gallery__item--20:hover,
.gallery__item--21:hover,
.gallery__item--26:hover {
  transform: scale(1.6);
}

.gallery__item--7:hover {
  transform: scale(3);
}

.gallery__item--8:hover,
.gallery__item--28:hover,
.gallery__item--30:hover {
  transform: scale(1.6);
}

.gallery__item--9 {
  grid-column: 1 / 3;
  grid-row: 3 / 6;
}

.gallery__item--10 {
  grid-column: 1;
  grid-row: 6 / span 2;
}

.gallery__item--12:hover,
.gallery__item--17:hover,
.gallery__item--3:hover {
  transform: scale(2.2);
}

.gallery__item--9 {
  grid-column: 8;
}
.gallery__item--11 {
  grid-column: span 2;
  grid-row: span 2;
}
.gallery__item--12 {
  grid-row: span 2;
}
.gallery__item--13 {
  grid-column: 5 / 8;
  grid-row: 5 / span 3;
}

.gallery__item--14 {
  grid-row: span 2;
}
.gallery__item--15 {
  grid-column: 1 / 3;
  grid-row: span 2;
}
.gallery__item--16 {
  grid-column: span 3;
  grid-row: span 3;
}
.gallery__item--17 {
  grid-row: span 2;
}
.gallery__item--18 {
  grid-column: span 2;
  grid-row: span 2;
}
.gallery__item--19 {
  grid-row: span 3;
  grid-column: span 2;
}

.gallery__item--20 {
  grid-column: span 2;
  grid-row: span 2;
}
.gallery__item--21 {
  grid-row: span 2;
}

.gallery__item--22 {
  grid-column: span 2;
  grid-row: span 2;
}

.gallery__item--23 {
  grid-column: span 2;
  grid-row: 13 / 15;
}

.gallery__item--24 {
  grid-row: span 2;
}

.gallery__item--25 {
  grid-row: span 3;
  grid-column: span 3;
}

.gallery__item--26 {
  grid-column: span 3;
  grid-row: span 2;
}

.gallery__item--27 {
  grid-row: 15 / 28;
  grid-column: span 2;
}

.gallery__item--28 {
  grid-row: 15 / 28;
}

.gallery__item--29 {
  grid-row: 15 / 28;
  grid-column: span 2;
}

.gallery__item--30 {
  grid-row: 15 / 28;
}

.gallery__item--31 {
  grid-row: 15 / 28;
  grid-column: span 2;
}

@media (max-width: 690px) {
  .gallery {
    grid-gap: 0.5rem;
    padding: 0.5rem;
  }

  .gallery__item:hover {
    transform: none;
  }
}

/* contact form */
.section-book {
  background: #ee9ca7;
  background: -webkit-linear-gradient(to right, #ffdde1, #ee9ca7);
  background: linear-gradient(to right, #ffdde1, #ee9ca7);
}

.book {
  background-image: linear-gradient(
      105deg,
      rgba(255, 255, 255, 0.9) 0%,
      rgba(255, 255, 255, 0.9) 50%,
      transparent 50%
    ),
    url('../../assets/img/weddings/doroteaLuka/doroteaIluka9.jpg');
  background-size: 100%;
  border-radius: 3px;
  -webkit-box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
}

.book-form {
  width: 50%;
  padding: 60px;
}

.book-form__group:not(:last-child) {
  margin-bottom: 20px;
}

.book-form__input {
  font-size: 15px;
  font-family: inherit;
  color: inherit;
  padding: 15px 20px;
  border-radius: 2px;
  background-color: #fff;
  border: none;
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block;
  transition: all 0.3s;
}

.book-form__input:focus {
  outline: none;
  box-shadow: 0 1rem 20px rgba(rgba 0 0 0, 0.1);
  border-bottom: 3px solid #28b485;
}

.book-form__input:focus:invalid {
  border-bottom: 3px solid #fa5252;
}

.book-form__input::-webkit-input-placeholder {
  color: #444;
}

.book-form__label {
  font-size: 12px;
  font-weight: 700;
  margin-left: 20px;
  margin-top: 0.2rem;
  display: block;
  transition: all 0.3s;
}

.book-form__input:placeholder-shown + .book-form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
}

/* radio buttons */

.book-form__radio-group {
  width: 50%;
  display: inline-block;
}

.book-form__radio-input {
  display: none;
}

.book-form__radio-label {
  font-size: 16px;
  position: relative;
  padding-left: 5rem;
  cursor: pointer;
}

.book-form__radio-button {
  height: 30px;
  width: 30px;
  border: 5px solid #ee9ca7;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
}

.book-form__radio-button::after {
  content: '';
  height: 13px;
  width: 13px;
  border-radius: 50%;
  background-color: #ee9ca7;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.book-form__radio-input:checked
  + .book-form__radio-label
  > .book-form__radio-button::after {
  opacity: 1;
}

.heading-secondary {
  text-transform: uppercase;
  font-weight: 700;

  transition: all 0.2s;
}

.heading {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#ee9ca7),
    to(#cf6073)
  );
}

.heading {
  display: inline-block;
  -webkit-transition: all 0.2s;
  -webkit-background-clip: text;
  color: transparent;
}

.btn:hover {
  transform: scale(1.05);
}

.btnY {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
