@tailwind base;
@tailwind components;
@tailwind utilities;

.h-custom-nav {
  height: calc(100vh+1000px);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

.nav__ul--item {
  cursor: pointer;
}

.ghost:hover {
  box-shadow: inset 0 0 0 3px #fff;
}

*:focus {
  box-shadow: 0 0 0 0.6rem rgba(238, 151, 166, 1);
  transition: all 0.3s;
  border: none;
  outline: none;
}

.nav__header.sticky {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.nav__header.sticky .nav {
  background-color: rgba(255, 255, 255, 0.95);
}
