@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');

:root {
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  line-height: 1.9;
  background-color: #fafafa;

  display: grid;
  grid-template-columns: 4rem 1fr;
}

.nav__ul--item {
  cursor: pointer;
}

.heading-primary {
  /* background-image: linear-gradient(
    to right,
    rgb(176, 94, 196),
    rgb(53, 28, 59)
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent; */
}

.ghost:hover {
  box-shadow: inset 0 0 0 3px #fff;
}

*:focus {
  box-shadow: 0 0 0 0.6rem rgba(238, 151, 166, 1);
  transition: all 0.3s;
  border: none;
  outline: none;
}
