@tailwind base;
@tailwind components;
@tailwind utilities;

.h-custom-nav {
  height: calc(100vh+1000px);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

.hero__container {
  background-image: url('../../assets/img/heroruzni.png');
  background-position: center;
  object-fit: contain;
}

.ghost:hover,
.card__link:hover {
  box-shadow: inset 0 0 0 3px #fff;
}

.nav__header.sticky {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.nav__header.sticky .nav {
  background-color: rgba(255, 255, 255, 0.95);
}

.card__picture--1,
.weddings__img-box {
  background-image: url('../../assets/img/cards/vjencanje.jpg');
}

.card__picture--2,
.business-celebrations__img-box {
  background-image: url('../../assets/img/biznis.jpg');
}

.card__picture--3,
.kids__img-box {
  background-image: url('../../assets/img/cards/kidsbirthday.jpg');
}
.card__picture--4,
.other-celebrations__img-box {
  background-image: url('../../assets/img/otherCelebrations.webp');
}

.card__picture--5 {
  background-image: url('../../assets/img/cards/dodatne.jpg');
}

/* 
    'color-lightest': '#fdf2f3',
        'color-accent-darkest': '#2e151a',

        'color-gray-light-1': '#ffdde1', */

/* balloons  */
.balloons__img-box {
  background-image: url('../../assets/img/baloni.jpg');
}

/* rent equpment */
.rent__equipment {
  background-image: url('../../assets/img/rent.webp');
}

/* other offers */
.other-offers__img-box {
  background-image: url('../../assets/img/ostale.jpg');
}
.modal {
  position: relative;
  /* Other modal styles */
  background: linear-gradient(to right bottom, #ee9ca7, #ffdde1);
  z-index: 40;
}

.modal::before {
  content: '\2665';
  color: #ee9ca7;
  position: absolute;
  top: -45px;
  right: -19px;
  font-size: 64px;
  z-index: 50;
}
